*{
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
}
body{
height: 100vh;
background-color: beige;
}
.comida-container {
  /* Estilos para el contenedor de la lista */

    display: flex;
    flex-wrap: wrap;
    height: 100%;

}
.card {
  background-color: white;
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 8px;
  height: 40%;
  width: 30%;
  margin: 1%;
  padding: 3%;
  margin-left: 2%;
}
h2{
font-size: 30px;
}
p{
font-size: 20px;
margin-top: -5%;
color: orange;
}
.ingrediente{
font-size: 16px;
margin-top: 1%;
}
.categoria{
margin-top: 20%;
}
h3{
margin-top: 2%;
margin-bottom: 2%;
}